.inicio {
    text-align: center;
    background-image: url('./images/fundo1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10vh 0;
    height: 100vh;
}
/* Remover o background-attachment em telas móveis */
@media (max-width: 768px) {
    .inicio {
        background-attachment: scroll; 
    }
}

/* Outras media queries para diferentes tamanhos de tela */
@media (max-width: 480px) {
    .inicio {
        background-size:auto; 
        background-position: top center;
    }
}
.perfil-container {
    margin-top: 5vh;
    display: inline-block;
}

.perfil-img {
    width: 25vw; 
    max-width: 100vw; 
    height: auto;
}

.perfil-titulo {
    color: white;
    font-size: 2rem;
    margin-bottom: 1vh;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    margin-top: 1vh;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 5vw; 
    margin-bottom: 2vh;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1vh 2vw;
    border-radius: 5vh;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: rgb(167, 106, 167);
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .perfil-img {
        width: 60vw; 
    }

    .perfil-titulo {
        font-size: 1.3rem;
    }

    .navbar {
        flex-direction:row;
        font-size: 1.2rem;
    }

    .navbar ul li {
        margin-right: 0;
        margin-bottom: 1.5vh; 
    }

    .navbar ul li a {
        padding: 1vh 3vw;
    }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
    .perfil-img {
        width: 60vw; 
    }

    .perfil-titulo {
        font-size: 1.3rem; 
    }

    .navbar ul li a {
        font-size: 1rem;
        flex-direction:row; 
    }
}
