.inicio {
    text-align: center;
    background-image: url('./images/fundo1.svg'); /* Caminho da imagem de fundo */
    background-size: cover; /* A imagem cobre toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    padding: 10vh 0;
    height: 100vh; /* Define a altura como 100% da tela */
}
/* Remover o background-attachment em telas móveis */
@media (max-width: 768px) {
    .inicio {
        background-attachment: scroll; /* Remove o efeito de fixação da imagem */
    }
}

/* Outras media queries para diferentes tamanhos de tela */
@media (max-width: 480px) {
    .inicio {
        background-size:auto; /* Ajusta a imagem para que ela se encaixe dentro da área */
        background-position: top center; /* Ajusta a posição para o topo da imagem em telas pequenas */
    }
}
.perfil-container {
    margin-top: 5vh;
    display: inline-block; /* Permite que o container tenha apenas a largura necessária */
}

.perfil-img {
    width: 25vw; /* Ajuste o tamanho da imagem conforme necessário */
    max-width: 100vw; /* Garante que a imagem não ultrapasse um tamanho máximo */
    height: auto; /* Ajusta automaticamente a altura conforme a largura da imagem */
}

.perfil-titulo {
    color: white;
    font-size: 2rem; /* Ajuste o tamanho da fonte conforme necessário */
    margin-bottom: 1vh;
}

.navbar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os itens se movam para a próxima linha se não houver espaço */
    font-size: 1.5rem;
    margin-top: 1vh;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 5vw; /* Margem à direita com vw */
    margin-bottom: 2vh;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 1vh 2vw;
    border-radius: 5vh;
    transition: background-color 0.3s;
}

.navbar ul li a:hover {
    background-color: rgb(167, 106, 167);
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .perfil-img {
        width: 60vw; /* Reduz o tamanho da imagem em telas menores */
    }

    .perfil-titulo {
        font-size: 1.3rem; /* Ajusta o tamanho da fonte em telas menores */
    }

    .navbar {
        flex-direction:row; /* Exibe os itens da navbar em coluna */
        font-size: 1.2rem; /* Ajusta o tamanho da fonte */
    }

    .navbar ul li {
        margin-right: 0; /* Remove a margem à direita */
        margin-bottom: 1.5vh; /* Ajusta a margem inferior para melhor espaçamento */
    }

    .navbar ul li a {
        padding: 1vh 3vw; /* Ajusta o padding para botões mais espaçados */
    }
}

/* Responsividade para telas muito pequenas */
@media (max-width: 480px) {
    .perfil-img {
        width: 60vw; /* Aumenta o tamanho da imagem em telas muito pequenas */
    }

    .perfil-titulo {
        font-size: 1.3rem; /* Diminui o tamanho da fonte para telas muito pequenas */
    }

    .navbar ul li a {
        font-size: 1rem; /* Reduz o tamanho da fonte para facilitar leitura */
        flex-direction:row; /* Exibe os itens da navbar em coluna */
    }
}
