/* Estilização da seção Projetos */
.projetos {
  background-image: url('./images/fundo3.svg'); /* Caminho para sua imagem de fundo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  color: #c9d1d9;
  text-align: center;
  min-height: 100vh; /* Garante que cubra toda a altura da tela */
  width: 100vw; /* Garante que ocupe toda a largura da viewport */
  margin: 0; /* Remove margens indesejadas */
}

.projetos-container {
  display: flex;
  flex-direction: column; /* Empilha os projetos em uma coluna */
  align-items: center;
  gap: 20px; /* Espaço entre os cards */
  width: 100%;
}

.projeto-card {
    background-color: rgba(22, 27, 34, 0.85);
    border-radius: 10px;
    padding: 10px;
    width: 100%; /* Largura total da página */
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: height 0.3s ease, max-height 0.3s ease; /* Suaviza a expansão do card */
    overflow: hidden; /* Garante que os detalhes não fiquem visíveis até expandir */
  }
  
  .projeto-card.closed {
    max-height: 10vh; /* Altura fechada do card */
  }
  
  .projeto-card.open {
    max-height: 100vh; /* Altura máxima quando o card está aberto */
  }
  
  .toggle-button {
    background: none;
    border: none;
    color: #58a6ff;
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .project-details {
    margin-top: 10px;
  }
  