.sobre-mim {
    padding: 5vh;
    background-image: url('./images/fundo2.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    width: 100vw; /* Garante que a largura ocupe toda a viewport */
    min-height: 100vh; /* Garante que cubra a altura total da tela */
    margin: 0; /* Remove margens automáticas */
  }
  
  .sobre-mim h2 {
    text-align: center; /* Centraliza o título "Sobre Mim" */
    margin-bottom: 20px;
    color: white;
  }
  
  .sobre-mim p {
    text-align: center; /* Centraliza todo o texto dentro das tags <p> */
    color: white;
    font-size: 3vh;
  }
  
  .experiencias-title, .linguagens-title {
    text-align: center; /* Centraliza os títulos de experiências e linguagens */
    margin: 20px 0; /* Espaço vertical entre os títulos e o conteúdo */
    font-size: 5vh;
  }
  
  .linguagens-container {
    display: flex; /* Usamos flexbox para alinhar as imagens lado a lado */
    justify-content: center; /* Centraliza as imagens */
    flex-wrap: wrap; /* Permite que as imagens se movam para a linha seguinte em telas menores */
    margin-top: 2vh; /* Espaçamento acima das imagens */
  }
  
  .linguagem-img {
    width: 5vw; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    margin: 2vw; /* Margem entre as imagens */
  }
  