/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 2.5vh; /* Define um tamanho base para a fonte */
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2;
  overflow-x: hidden; /* Remove a rolagem horizontal */
}

.App {
  text-align: center;
}

h2 {
  font-size: 2.5rem; /* Usa rem para que seja proporcional ao tamanho da fonte base */
  color: #d8dcdf;
  margin-bottom: 20vh;
}

/* Tamanhos de texto com vw (opcional) */
h2 {
  font-size: calc(2.5rem + 1vw); /* Tamanho da fonte que aumenta com a largura da viewport */
}
